%section.contents
  -taglist.each_slice(height) do |ctags|
    %ul.links
      -ctags.each do |tag|
        %li
          %a{:href=>rurl("/tag/#{tag}")}
            = "#{tag}"
            %span.number
              = "#{tags[tag]}"
