%section.contents
  - now = (Date.today.year * 100) + Date.today.month
  - y = year.to_i
  - target = y * 100
  %ul
    -(1..4).each do |month|
      %li
        - if target + month <= now
          %a{:href=>rurl("/#{year}/#{month}"),
             :title=>"#{month_name(month)}, #{year}"}
            =month_name(month)
        - else
          &nbsp;
  - if target + 5 <= now
    %ul
      -(5..8).each do |month|
        - if target + month <= now
          %li
            %a{:href=>rurl("/#{year}/#{month}"),
               :title=>"#{month_name(month)}, #{year}"}
              =month_name(month)
  - if target + 9 <= now
    %ul
      -(9..12).each do |month|
        - if target + month <= now
          %li
            %a{:href=>rurl("/#{year}/#{month}"),
               :title=>"#{month_name(month)}, #{year}"}
              =month_name(month)
%nav.dates
  %a{:href=>rurl("/#{y - 1}"), :title=>"#{y - 1}"}
    = "« #{y - 1}"
  - if y < Date.today.year
    |
    %a{:href=>rurl("/#{y + 1}"), :title=>"#{y + 1}"}
      ="#{y + 1} »"
